version: "3.9"
services:
  portainer:
    image: portainer/portainer-ce
    container_name: Portainer
    ports:
      - 9000:9000
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /volume1/docker/portainer/data:/data
    restart: unless-stopped
#     networks:
#       - default
# networks:
#   default:
#     external: 
#       name: bridge
